.topbar-container {
  background: rgba(207, 207, 207, 0.873);
  height: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}

.topbar-link {
  font-weight: bold;
  height: 20px;
  width: 120px;
  margin: 10px;
}
.topbar-link:hover {
  cursor: pointer;
  color: aliceblue;
}
